@import "../../styles/variables";

h1,
h2,
h3 {
  text-align: center;
}

h1,
h2 {
  color: $blue;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

h3 {
  color: $black;
  text-transform: uppercase;
}
